// Import Google Fonts
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/* GLOBAL STYLES */
html,
body {
  height: 100%;
  background-color:#E6E6FA !important;
}

html {
  background-size: cover;
  overflow-y: auto !important;
}

a:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
  color: #007bff !important;
}
